body {
    font-family: 'IRANSans', sans-serif;
    background-color: #f8f9fa;
}

.header-bg {
    background: url('header-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #00a799;
    padding: 60px 0;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
}

.btn-primary:hover {
    background-color: #004080;
}


.hero-section {
    background: url('about-us-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #00a799;
    padding: 60px 0;
    text-align: center;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.values-icon {
    font-size: 2rem;
    color: #0056b3;
}
