body {
    font-family: 'IRANSans', sans-serif;
    background-color: #f8f9fa;
}

.header-bg {
    background: url('WWW/banner.png') no-repeat center center;
    background-size: cover;
    color: #00a799;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.header-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-bg > * {
    position: relative;
    z-index: 2;
}
.header-bg h1,
.header-bg p {
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-bg h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header-bg p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ffff;
}

.header-bg .container {
    padding: 60px 20px;
}

@media (max-width: 768px) {
    .header-bg h1 {
        font-size: 2rem;
    }

    .header-bg p {
        font-size: 1rem;
    }
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
}

.btn-primary:hover {
    background-color: #004080;
}


.hero-section {
    background: url('about-us-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #00a799;
    padding: 60px 0;
    text-align: center;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.values-icon {
    font-size: 2rem;
    color: #0056b3;
}
